/* Moved to src */
.jsonpath-highlight {
  background-color: rgba(234, 179, 8, 0.2) !important;
}


/* 光标动画 */
.monaco-editor .cursor {
  transition: all 0.1s ease-out;
}

/* 脏 Diff 边缘指示器 - Sublime 风格 */
.dirty-diff-added {
  border-left: 3px solid #9AC794 !important;
  /* Sublime 绿色 (用户指定) */
  width: 3px !important;
  /* 设置固定宽度，确保位置 */
  margin-left: 0px !important;
  /* 最左侧 */
  left: 3px !important;
  /* 微调绝对定位 */
}

.dirty-diff-modified {
  border-left: 3px solid #F8AF59 !important;
  /* Sublime 橙色 (用户指定) */
  width: 3px !important;
  margin-left: 0px !important;
  /* 最左侧 */
  left: 3px !important;
}

.dirty-diff-deleted::after {
  content: '';
  position: absolute;
  left: 1px;
  top: -5px;
  /* 位于行间隙，表示此处有内容被删除 */
  width: 0;
  height: 0;
  border-left: 5px solid #f92672;
  /* Sublime 红色箭头 */
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}