spring:
  application:
    name: json-helper-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/jsonhelper
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

# JWT Configuration
jwt:
  secret: D+d8lKHErzwkqdz29GvxwV/O3SEw6uMvdNk181jFfP8NQDSN4R0iWNAjI5h/Lazf9SnPULCNU83s73yfMxbTZg==
  expiration: 86400000 # 1 day
